/* Estilos para el header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 12%;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

body {
  padding-top: 70px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo img {
  width: 400px;
  height: auto;
  margin: 0;
}

/* Responsive para pantallas grandes (4K) */
@media (min-width: 2560px) {
  .logo img {
    width: 700px;
  }
}

/* Responsive para pantallas de escritorio estándar */
@media (min-width: 1440px) and (max-width: 2559px) {
  .logo img {
    width: 550px;
  }
}

/* Responsive para tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .logo img {
    width: 350px;
  }
}

/* Responsive para dispositivos móviles */
@media (max-width: 767px) {
  .header {
    height: 10%;
  }

  .logo img {
    width: 150px;
  }

  body {
    padding-top: 50px;
  }
}

@media (max-width: 767px) {
  .menu-icon {
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    color: white;
  }

  .dropdown-menu {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    z-index: 101;
  }

  .dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 10px 0;
  }

  .dropdown-menu li {
    padding: 10px 20px;
    text-align: center;
  }

  .dropdown-menu a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s ease;
  }

  .dropdown-menu a:hover {
    color: #007BFF;
  }
}

@media (width: 768px) {
  .menu-icon {
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 30px;
    color: white;
  }

  .dropdown-menu {
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    z-index: 101;
  }

  .dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 10px 0;
  }

  .dropdown-menu li {
    padding: 10px 20px;
    text-align: center;
  }

  .dropdown-menu a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s ease;
  }

  .dropdown-menu a:hover {
    color: #007BFF;
  }
}