/* Introsection.css */
/* Importa la fuente 'DS-Digital' desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=DS+Digi&display=swap');  /* Fuente DS-Digital */

/* Contenedor principal */
.introsection-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
}

/* Estilo para la caja que contiene el contador */
.countdown-display {
  background-color: #000;  /* Fondo negro para emular el estilo de un reloj digital */
  padding: 15px 30px;  /* Padding intermedio */
  border-radius: 8px;  /* Bordes ligeramente más pequeños */
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);  /* Sombra intermedia */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para el texto del contador */
.countdown-text {
  font-family: 'DS Digi', sans-serif;
  font-size: 50px;
  color: #FFD700; /* Amarillo dorado vibrante */
  margin: 0;
  letter-spacing: 7px;
  text-shadow: 
    0 0 15px #FFEA00, /* Resplandor interno amarillo claro */
    0 0 30px #FFFF00, /* Resplandor externo amarillo puro */
    0 0 45px #FFCC00, /* Resplandor más intenso */
    0 0 60px #FFD700; /* Resplandor dorado */
  animation: glow 1.5s infinite alternate;
}

/* Efecto de resplandor en los números */
@keyframes glow {
  0% {
    text-shadow: 
      0 0 10px #FFEA00,
      0 0 20px #FFFF00,
      0 0 30px #FFCC00,
      0 0 40px #FFD700;
  }
  100% {
    text-shadow: 
      0 0 20px #FFEA00,
      0 0 40px #FFFF00,
      0 0 60px #FFCC00,
      0 0 80px #FFD700;
  }
}